.header-text {
    width: 1000px;
    height: 160px;
    position: absolute;
    margin: 255px 0 0 190px;
    color: white;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 46px;
}

.header-text .p1 {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 72px;
    text-transform: uppercase;
    line-height: 72px;
}

.info {
    position: relative;
    margin: 154px 218px 100px;
}

.info h1, .info h2 {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 42px;
    text-transform: uppercase;
    line-height: 55px;
}

.info h2 {
    margin-bottom: 53px;
}

.info p {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    margin-bottom: 20px;
}