#company {
    margin-top: 70px;
}

#company h1 {
    margin: 4% 10% 3%;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 42px;
    font-weight: 700;
    text-transform: uppercase;
}

#company h2 {
    margin: 3% 10% 3%;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#company p {
    margin: 0 10%;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

/* Slideshow container */
.slideshow {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* The dots/bullets/indicators */
.dot {
    height: 3px;
    width: 50px;
    position: relative;
    padding: 0;
    margin: 0 5px;
    background: #e6e6e6;
    border: none;
    outline: none !important;
    transition: background-color 0.6s ease;
}

.active {
    background: #44b827;
}

.start-photo img {
    max-width: 100%;
    max-height: 750px;
    height: auto;
}

#info-1 .start-photo h1 {
    position: absolute;
    padding-top: 16%;
    background: transparent;
    color: white;
    font-size: 74px;
    font-weight: 900;
    line-height: 74px;
}

#info-1 .start-photo span {
    color: white;
    font-size: 44px;
    font-weight: 900;
    text-transform: none;
}

#info-1 p, #info-5 p, #info-6 p, #info-7 p, #info-8 p {
    padding-top: 1%;
}

#info-2 h1 {
    text-align: center;
}

#info-2 i, #info-3 i {
    color: #44b827;
}

#info-3 {
    margin: -225px 0 120px 700px;
}

.menu {
    margin-left: 11%;
}

.quick-menu {
    display: inline-block;
    margin-right: 30px;
}

.quick-menu img {
    width: 360px;
    height: 415px;
}

.quick-menu button {
    position: relative;
    left: 82px;
    margin: 30px 0;
    padding: 9px 15px;
    width: 196px;
    height: 43px;
    border: 2px solid #262626;
    text-align: center;
}

.quick-menu button:hover {
    background-color: #44b827;
    border-color: #44b827;
    outline: none;
}

.quick-menu a, .quick-menu a:hover {
    color: #333333;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

#info-4 .middle-photo {
    background-image: url("../image/aboutCompany/6_ART_3_von_HUF_HAUS.jpg");
    background-size: cover;
    background-position: center center;
}

#info-4 .middle-photo h1 {
    padding: 10% 0 !important;
    position: relative;
    min-height: 550px;
    background: transparent;
    text-align: center;
    color: #ffffff;
    font-size: 74px;
    font-weight: 700;
}

#info-4 h1 {
    text-align: center;
}

#info-5 h1 {
    text-align: center;
    text-transform: none;
    font-size: 24px;
}

#info-5 button, #info-6 button, #info-7 button, #info-8 button {
    margin: 0 11%;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 32px;
    font-weight: 700;
    background: #e6e6e6;
}


/* On smaller screens, decrease text size налаштування малого екрану*/
@media only screen and (max-width: 300px) {

}