.slideshow {
    max-width: 100%;
    margin: auto;
    padding-top: 70px;
}

.start-photo img {
    max-width: 100%;
    max-height: 600px;
    height: auto;
}

.start-photo h1 {
    position: absolute;
    padding: 18% 10% 0;
    background: transparent;
    color: white;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
}

.dot {
    margin-right: 0.5%;
    height: 2px;
    width: 50px;
    background: #e6e6e6;
    border: none;
    outline: none !important;
    transition: background-color 2s ease;
    cursor: pointer;
}

.activeDot {
    background: #44b827;
    cursor: pointer;
}

.main {
    margin: 5% 8% 0;
    text-align: center;
}

.main h1 {
    color: #333333;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    text-align: left;
}

.main h2 {
    margin-bottom: 10%;
    color: #333333;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 23px;
    font-weight: 700;
    line-height: 10px;
    letter-spacing: 0.5px;
    text-align: left;
}

.main p {
    border-left: 4px solid #44b827;
    margin-left: 8%;
    padding-left: 2%;
    color: #333333;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
}

.main a {
    color: #333333;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

.main img {
    width: 360px;
    height: 245px;
}

.main .aboutHouse {
    display: inline-block;
    margin: 0 2% 2% 0;
}

.aboutHouse:hover {
    box-shadow: 0 0 6px #bfbfbf;
}

.aboutHouse a:hover {
    text-decoration: none;
}

.shortInfo {
    margin: 10% 5%;
}

.aboutHouse button {
    margin: 10%;
    width: 196px;
    height: 43px;
    border: 2px solid #262626;
    text-transform: uppercase;
    cursor: pointer;
}

.aboutHouse button:hover {
    background-color: #44b827;
    border-color: #44b827;
    outline: none;
    color: white;
    transition: background-color 1s ease;
}

@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 1024px) {

}

@media screen and (max-width: 768px) {

}

@media screen and (max-width: 600px) {

}

@media screen and (max-width: 480px) {

}

@media screen and (max-width: 320px) {

}