.start-photo img {
    max-width: 100%;
    margin: auto;
    padding-top: 70px;
    max-height: 820px;
    height: auto;
}

.start-photo h1 {
    position: absolute;
    margin: 22% 10% 0;
    background: transparent;
    color: white;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 74px;
    font-weight: 900;
    line-height: 64px;
    text-transform: uppercase;
}

.start-photo span {
    color: white;
    font-size: 44px;
    font-weight: 900;
    text-transform: none;
}

.main {
    padding: 4% 1%;
    background-color: #262626;
    text-align: center;
}

.main .mini, .main .big {
    display: inline-block;
    margin: 0.3%;
}

.main .mini img {
    width: 425px;
    height: 290px;
}

.main .big img {
    width: 865px;
    height: 630px;
}

@media screen and (max-width: 1800px) {
    .main .mini img {
        width: 375px;
        height: 245px;
    }

    .main .big img {
        width: 765px;
        height: 530px;
    }
}

@media screen and (max-width: 1600px) {
    .main .mini img {
        width: 330px;
        height: 220px;
    }

    .main .big img {
        width: 670px;
        height: 450px;
    }
}

@media screen and (max-width: 1400px) {
    .main .mini img {
        width: 300px;
        height: 200px;
    }

    .main .big img {
        width: 612px;
        height: 410px;
    }
}


@media screen and (max-width: 1280px) {
    .start-photo h1 {
        margin-top: 25%;
        font-size: 70px;
        line-height: 60px;
    }

    .start-photo span {
        font-size: 35px;
    }

    .main .mini img, .main .big img {
        width: 560px;
        height: 390px;
    }
}

@media screen and (max-width: 1170px) {
    .main .mini img, .main .big img {
        width: 490px;
        height: 320px;
    }
}

@media screen and (max-width: 1024px) {
    .start-photo h1 {
        font-size: 55px;
        line-height: 45px;
    }

    .start-photo span {
        font-size: 28px;
    }

    .main .mini img, .main .big img {
        width: 365px;
        height: 260px;
    }
}

@media screen and (max-width: 768px) {
    .start-photo h1 {
        margin-top: 30%;
        font-size: 40px;
        line-height: 30px;
    }

    .start-photo span {
        font-size: 20px;
    }

    .main .mini img, .main .big img {
        width: 285px;
        height: 180px;
    }
}

@media screen and (max-width: 600px) {
    .start-photo h1 {
        margin-top: 32%;
        font-size: 35px;
        line-height: 25px;
    }

    .start-photo span {
        font-size: 20px;
    }

    .main .mini img, .main .big img {
        width: 225px;
        height: 125px;
    }
}

@media screen and (max-width: 480px) {
    .start-photo h1 {
        margin-top: 40%;
        font-size: 22px;
        line-height: 15px;
    }

    .start-photo span {
        font-size: 12px;
    }

    .main .mini img, .main .big img {
        width: 300px;
        height: 180px;
    }
}

@media screen and (max-width: 320px) {
    .main .mini img, .main .big img {
        width: 250px;
        height: 150px;
    }
}