body {
    position: relative;
}

#header {
    height: 70px;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    transition: all 0.5s;
    z-index: 997;
    background-color: #fff;
    box-shadow: 5px 0px 15px #c3c3c3;
}

#header #logo img {
    position: relative;
    margin: 16px 0 16px 100px;
}

#nav-menu-container {
    float: right;
    position: relative;
    padding: 22px 150px 22px 0;
}

.nav-menu > li {
    float: left;
    margin-left: 5px;
}

.nav-menu li {
    position: relative;
    white-space: nowrap;
}

.nav-menu * {
    outline: none;
    border: none;
    margin: 0;
    padding: 0 5px;
    list-style: none;
}

.nav-menu a {
    text-decoration: none;
    color: #262626;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.nav-menu a:hover {
    color: #44b827 !important;
    /*border-bottom: 2px solid #44b827;*/
}

#mobile-nav-toggle {
    display: inline;
}

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 80px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.5);
    left: -260px;
    width: 200px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav ul li {
    position: relative;
}

#mobile-nav ul li a {
    width: 100%;
    position: relative;
    padding: 10px 22px 10px 15px;
    display: block;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

#mobile-nav ul li a:hover {
    color: #44b827;
}

@media (max-width: 1168px) {
    #nav-menu-container {
        display: none;
    }

    #mobile-nav-toggle {
        display: inline;
    }
}