#header {
    width: 100%;
    height: 70px;
    position: fixed;
    top: 0;
    background-color: #fff;
    box-shadow: 5px 0 15px #c3c3c3;
}

#header #logo img {
    position: relative;
    margin: 17px 0 15px 50px;
}

#nav-menu-container {
    float: right;
    position: relative;
    padding: 0 100px 27px 0;
}

.nav-menu p {
    position: relative;
    float: left;
}

.nav-menu a {
    width: 100%;
    position: relative;
    padding: 23px 17px;
    display: block;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    border-bottom: 2px solid transparent;
    color: #262626;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    text-transform: uppercase;

}

.nav-menu p a:hover {
    border-bottom: 2px solid #44b827;
}

.nav-menu p a:active {
    border-bottom: 2px solid #44b827;
}

#mobile-nav-toggle {
    display: inline;
}

#mobile-nav-toggle {
    position: fixed;
    right: 0;
    top: 0;
    z-index: 999;
    margin: 20px 20px 0 0;
    border: 0;
    background: none;
    font-size: 24px;
    display: none;
    transition: all 0.4s;
    outline: none;
    cursor: pointer;
}

#mobile-body-overly {
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    left: 0;
    position: fixed;
    background: rgba(0, 0, 0, 0.5);
    display: none;
}

body.mobile-nav-active #mobile-nav {
    left: 0;
}

#mobile-nav {
    position: fixed;
    top: 0;
    padding-top: 80px;
    bottom: 0;
    z-index: 998;
    background: rgba(0, 0, 0, 0.5);
    left: -260px;
    width: 200px;
    overflow-y: auto;
    transition: 0.4s;
}

#mobile-nav .nav-menu {
    padding: 0;
    margin: 0;
    list-style: none;
}

#mobile-nav .nav-menu p {
    position: relative;
}

#mobile-nav .nav-menu p a {
    width: 100%;
    position: relative;
    padding: 10px 25px;
    display: block;
    outline: none;
    overflow: hidden;
    text-decoration: none;
    color: #fff;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 2px solid transparent;
}

#mobile-nav .nav-menu p a:hover {
    border-bottom: 2px solid #44b827;
}

#mobile-nav .nav-menu p a:active {
    border-bottom: 2px solid #44b827;
}

@media (max-width: 1048px) {
    #nav-menu-container {
        display: none;
    }

    #mobile-nav-toggle {
        display: inline;
    }
}