.header-text {
    position: absolute;
    margin: 320px 0 0 190px;
    color: white;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 55px;
    font-weight: 700;
    text-transform: uppercase;
}

#main {
    position: relative;
    margin: 100px 190px;
}

#main .allHouse {
    display: inline-block;
    margin: 0 32px 32px 0;
}

#main .allHouse:hover {
    box-shadow: 0 0 6px #bfbfbf;
}

.shortInfo {
    padding: 20px 30px 30px;
}

.shortInfo h2 {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.shortInfo h3 {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 24px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: lowercase !important;
}





