body {
    position: relative;
}

#main {
    margin: 0 10%;
}

#main h1 {
    margin: 0 10%;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
}

#main h2 {
    margin: 0 10%;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#main p {
    margin: 0 10%;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    font-weight: 300;
}


.slideshow {
    max-width: 100%;
    margin: auto;
}

.start-photo img {
    max-width: 100%;
    max-height: 580px;
    height: auto;
}

.start-photo h1 {
    position: absolute;
    padding-top: 13.5%;
    background: transparent;
    color: white;
    font-size: 55px !important;
    line-height: 74px !important;
}

.dot {
    margin: 0 0.5% 6% 0;
    height: 2px;
    width: 50px;
    position: relative;
    padding: 0;
    background: #e6e6e6;
    border: none;
    outline: none !important;
    transition: background-color 2s ease;
}

.activeDot {
    background: #44b827;
}

#showHouse {
    margin: 0 10%;
}

.allHouse {
    display: inline-block;
    margin: 0 28px 28px 0;
}

.allHouse div img {
    width: 360px;
    height: 245px;
}

.allHouse:hover, #houses .allHouse button:hover {
    box-shadow: 0 0 6px #bfbfbf;

}

.allHouse button:hover {
    background-color: #44b827;
    border-color: #44b827;
    outline: none;
}

.shortInfo {
    padding: 35px 20px;
}

.shortInfo h2, .shortInfo h4 {
    color: #333333;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 23px;
    font-weight: 700;
    letter-spacing: 1px;
}

.shortInfo h4 {
    margin: -5px 0 25px 0;
    text-transform: lowercase !important;
}

.shortInfo p {
    border-left: 4px solid #44b827;
    padding-left: 5px;
    margin-left: 15px;
    color: #333333;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.allHouse button {
    position: relative;
    left: 82px;
    margin: 0 0 30px;
    padding: 9px 15px;
    width: 196px;
    height: 43px;
    border: 2px solid #262626;
    text-transform: uppercase;
    text-align: center;
}

.allHouse a, .allHouse a:hover {
    color: #333333;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}