.slideshow {
    max-width: 100%;
    margin: auto;
    padding-top: 70px;
}

.start-photo img {
    max-width: 100%;
    max-height: 750px;
    height: auto;
}

.dot {
    margin-right: 0.5%;
    height: 2px;
    width: 50px;
    background: #e6e6e6;
    border: none;
    outline: none !important;
    transition: background-color 2s ease;
}

.activeDot {
    background: #44b827;
}

.main {
    margin: 7.5% 10% 0;
}

.main h1 {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
}

.main h2 {
    margin-bottom: 1%;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 24px;
    font-weight: 700;
}

.main p {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.main #info-1 {
    padding-bottom: 2%;
    float: left;
    margin-right: 14%;
}

#info-1 h1 {
    margin-bottom: 30%;
}

#info-1 button {
    margin-bottom: 15%;
    padding: 2%;
    width: 196px;
    height: 43px;
    border: 2px solid #262626;
    text-align: center;
}

#info-1 button:hover {
    background-color: #44b827;
    border-color: #44b827;
    outline: none;
    color: white;
}

.serviceMenu {
    clear: both;
    display: inline-block;
    margin-top: 5%;
}

#main img {
    width: 360px;
    height: 245px;
}




