body {
    background-color: #262626;
}

.start-photo img {
    max-width: 100%;
    margin: auto;
    padding-top: 70px;
    max-height: 820px;
    height: auto;
}

.start-photo h1 {
    position: absolute;
    margin: 22% 10% 0;
    background: transparent;
    color: white;
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 74px;
    font-weight: 900;
    line-height: 64px;
    text-transform: uppercase;
}

.start-photo span {
    color: white;
    font-size: 44px;
    font-weight: 900;
    text-transform: none;
}

.main {
    padding: 4% 2%;
    background-color: #262626;
    text-align: center;
}

.main .mini {
    display: inline-block;
    margin: 0.2%;
}

.main .big {
    display: inline-block;
    margin: 0.2%;
}

.main .mini img {
    width: 445px;
    height: 285px;
}

.main .big img {
    width: 900px;
    height: 680px;
}

@media screen and (max-width: 1919px) {
    .main .mini img {
        width: 400px;
        height: 245px;
    }

    .main .big img {
        width: 810px;
        height: 610px;
    }

}

@media screen and (max-width: 1735px) {
    .main .mini img {
        width: 360px;
        height: 205px;
    }

    .main .big img {
        width: 730px;
        height: 550px;
    }
}

@media screen and (max-width: 1565px) {
    .main .mini img {
        width: 326px;
        height: 165px;
    }

    .main .big img {
        width: 660px;
        height: 500px;
    }
}

@media screen and (max-width: 1395px) {
    .main .mini img {
        width: 286px;
        height: 185px;
    }

    .main .big img {
        width: 580px;
        height: 400px;
    }
}


@media screen and (max-width: 1280px) {
    .start-photo h1 {
        font-size: 70px;
        line-height: 60px;
    }

    .start-photo span {
        font-size: 35px;
    }

    .main .mini img, .main .big img {
        width: 480px;
        height: 320px;
    }
}

@media screen and (max-width: 1100px) {
    .main .mini img, .main .big img {
        width: 440px;
        height: 280px;
    }
}

@media screen and (max-width: 1011px) {
    .start-photo h1 {
        font-size: 55px;
        line-height: 45px;
    }

    .start-photo span {
        font-size: 28px;
    }

    .main .mini img, .main .big img {
        width: 400px;
        height: 280px;
    }
}

@media screen and (max-width: 843px) {
    .start-photo h1 {
        font-size: 40px;
        line-height: 30px;
    }

    .start-photo span {
        font-size: 20px;
    }

    .main .mini img, .main .big img {
        width: 320px;
        height: 220px;
    }
}

@media screen and (max-width: 676px) {
    .start-photo h1 {
        font-size: 35px;
        line-height: 25px;
    }

    .start-photo span {
        font-size: 20px;
    }

    .main .mini img, .main .big img {
        width: 240px;
        height: 140px;
    }
}

@media screen and (max-width: 510px) {
    .main .mini img, .main .big img {
        width: 400px;
        height: 280px;
    }
}

@media screen and (max-width: 417px) {
    .start-photo h1 {
        font-size: 25px;
        line-height: 15px;
    }

    .start-photo span {
        font-size: 15px;
    }

    .main .mini img, .main .big img {
        width: 250px;
        height: 150px;
    }
}

@media screen and (max-width: 320px) {
    .start-photo h1 {
        font-size: 25px;
        line-height: 15px;
    }

    .start-photo span {
        font-size: 15px;
    }

    .main .mini img, .main .big img {
        width: 150px;
        height: 100px;
    }
}

